<div class="background">
  
  <div class="meeting-rooms">
    <%= render 'room_list', attending_rooms: @attending_rooms %>
  </div>

  <div class="circle">
    <i class="fas fa-plus"></i>
  </div>
  <div class="background-2 invisible">
    <%= form_with model: @new_meeting_room, local: true, class: "new-room-form" do |f| %>
      <p class="new-room-name">新規ルームを作成</p>
      <%= f.text_field :name, class: "new-room-textfield" %>
      <br>
      <%= f.submit "ルーム作成", class: "new-room-submit" %>
    <% end %>
  </div>
</div>
<%= javascript_pack_tag 'add_room_modal' %>
