<%= link_to "<戻る", meeting_rooms_path %>
<h1><%= @meeting_room.name %></h1>
<%= @meeting_room.meeting_id %>

<% @meeting_room.chats.each do |chat| %>
  <% if chat.user == current_user %>
    <div style="display: flex; justify-content: flex-end;">
      <%= chat.content %><br>
      <%= chat.created_at %>
    </div>
  <% else %>
    <div>
      <%= chat.content %>
      <% if chat.is_disclosed %>
        <%= chat.user.name %>
      <% else %>
        <%= form_with url: apply_path, local: true do |f| %>
          <%# 通知の対象になるchat_id %>
          <%= f.hidden_field :chat_id, value: chat.id %>
          <%# 同じ部屋に戻るためのroom_id %>
          <%= f.hidden_field :room_id, value: @meeting_room.id %>
          <%= f.submit "名前を見る" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= form_with model: @new_chat, local: true do |f| %>
  <%= f.text_field :content %>

  <%= f.submit "投稿"%>
<% end %>