<div class="background">
  <div class="space"></div>
  <div class="chats-area" data-current-user-id="<%= current_user.id %>">
    <%= render @chats %>
  </div>

  <%= form_with model: @new_chat, local: true, class: "chat-form-area", data: { meeting_room_id: @meeting_room.id } do |f| %>
    <%= f.text_field :content, class: "chat-form" %>

    <%= f.submit "投稿", class: "chat-form-btn" %>
  <% end %>
  
  <div class="background-2 invisible">
    <div class="disclosure-user-modal">
      <p class="disclosure-user-chat text-center">XXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
      <p class="disclosure-user-note text-center">このメッセージの送り主に</p>
      <p class="disclosure-user-note text-center">名前の開示をお願いしますか？</p>
      <span class="disclosure-user-btn quit">やめる</span>
      <%= form_with url: apply_path, remote: true do |f|%>
        <%= f.submit "お願いする", class: "disclosure-user-btn please" %>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'in_room' %>

