<!DOCTYPE html>
<html>
  <head>
    <title>Anomeet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    
  </head>

  <body>
  <% if controller.controller_name != "homes" && controller.controller_name != "registrations" && controller.controller_name != "sessions" %>
    <header>
      <nav class="nav">
        <% if controller.controller_name == "meeting_rooms" && controller.action_name == "show" %>
          <%= link_to meeting_rooms_path, class: "back-link" do %>
            <i class="fas fa-chevron-left"></i>
          <% end %>
          <div class="room-info">
            <h1 class="room-name"><%= @meeting_room.name %></h1><br>
            <span class="meeting-id">
              <%= @meeting_room.meeting_id %>
            </span>
          </div>
        <% else %>
          <%= link_to "Anomeet", meeting_rooms_path , class: "logo" %>
          <%= form_with url: search_path, local: true, class: "room_search" do |f| %>
            <i class="fas fa-search"></i>
            <%= f.text_field :meeting_id, id: "search-room-form", placeholder: "Enter room ID" %>
          <% end %>
        <% end %>
        <span class="fa-stack">
          <i class="far fa-bell fa-lg fa-stack-2x" style="font-size: 1em;"></i>
          <%# <i class="fas fa-circle n-circle fa-stack-1x"></i> %>
        </span>
        <% if user_signed_in? %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "sign-out text-center" %>
        <% end %>
      </nav>
    </header>
  <% end %>
    <%= yield %>

    <div id="search-result"></div>
    <% if user_signed_in? %>
      <div class="notifications invisible">
        <h2 class="notification-title">通知一覧</h2>
        <hr class="hr-1">
        <% @notifications.each do |notification| %>
          <% if notification.favorite? %>
            <p class="notification-text"><%= notification.sender.name %>があなたのコメントに いいね しました。</p>
            <p class="notification-chat"><%= notification.chat.content %></p>
          <% elsif notification.disclose? %>
            <p class="notification-text"><%= notification.sender.name %>があなたに名前の開示をお願いしています。</p>
            <p class="notification-chat"><%= notification.chat.content %></p>
            <span class="apply">
              <%= render 'chats/apply_btn', chat: notification.chat %>
            </span>
          <% end %>
          <hr class="hr-2">
        <% end %>
      </div>
    <% end %>
    <% if controller.controller_name != "homes" && controller.controller_name != "registrations" && controller.controller_name != "sessions" %>
      <%= javascript_pack_tag 'notification' %>
    <% end %>
  </body>
</html>
